@media (min-width: 68em) {

    .attractions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 0;
        flex-wrap: nowrap;
        margin: 0;
    }

    .container {
        position: relative;
        width: 50vw;
        height: 35vh;
    }

    .overlay img {
        display: block;
        float: left;
        margin-left: 3rem;
        padding-top: 3rem;
        width: 10rem;
    }

    .overlay h2 {
        margin-top: 3rem;
        font-size: 1.5rem;
    }

    .overlay p {
        margin: 1rem 4rem 0 0;
        position: relative;
        left: 2rem;
    }
}