.attractions {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 40rem;
    margin: 0 auto;
}

.container-image {
    display: none;
}

.container {
    background-color: #252525;
    width: 15rem;
}

.overlay p {
    padding: 0.5rem 1rem 1rem;
}

.overlay h2 {
    padding-top: 0.75rem;
    font-size: 1rem;
    letter-spacing: 2px;
}

@media (min-width: 68em) {

    .page-title h1 {
        font-size: 5rem;
        letter-spacing: 15px;
    }

    .attractions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 0;
        flex-wrap: nowrap;
        margin: 0;
    }

    .container {
        position: relative;
        width: 50vw;
        height: 35vh;
    }

    .overlay {
        background-color: #1a1a1a;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .7s;
    }

    .container:hover .overlay {
        opacity: 0.9;
    }

    .container-image {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }

    .overlay img {
        display: block;
        float: left;
        margin-left: 3rem;
        padding-top: 3rem;
        width: 10rem;
    }

    .overlay h2 {
        margin-top: 3rem;
        font-size: 1.5rem;
    }

    .overlay p {
        margin: 1rem 4rem 0 0;
        position: relative;
        left: 2rem;
    }
}