html {
	scroll-behavior: smooth;
	scroll-padding-top: 10rem;
}

body {
    background-color: #1a1a1a;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 2rem;
    color: #fff;
}

span {
    font-weight: 700;
    background-color: #1a1a1a;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
}

a,
a:visited {
    color: maroon;
    font-weight: 700;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 2px red;
}


/* ----- NAVIGATION MENU ----- */
.navigation-bar {
    position: fixed;
    top: 0;
    height: 3.125rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.menu {
    text-align: right;
}

#menu-list {
    background-color: #1a1a1a;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    /* width: 100vw; */
    height: 0;
    overflow: hidden;
    transition: height .5s ease;
}

#menu-list.toggled {
    height: 50vh;
}

.menu ul {
    padding: 0;
}

.menu li {
    display: block;
}


/* ----- BANNER ----- */
.banner {
    position: relative;
    top: 0;
}

.banner h1 {
    position: absolute;
    margin: 0;
    left: 0;
	right: 0;
    text-align: center;
    font-size: 5rem;
    line-height: 4rem;
	z-index: 1;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #fff;
}

.banner h1:after {
    display: block;
    font-size: 3rem;
    padding-top: 1rem;
    text-align: center;
    text-shadow: 0px 0px 10px #fff;
}

/* ----- FOOTER ----- */
footer {
    background-color: maroon;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 2rem;
    padding: 1rem;
}