html {
	scroll-behavior: smooth;
	scroll-padding-top: 10rem;
}

body {
    background-color: #1a1a1a;
    font-size: 1rem;
    font-family: 'Urbanist', sans-serif;
    color: #eee;
    font-weight: 500;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #eee;
}

span {
    font-weight: 700;
    background-color: #1a1a1a;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    text-shadow: 2px 2px 3px red;
}

a,
a:visited {
    color: #eee;
    font-weight: 700;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 2px red;
}


/* ----- NAVIGATION MENU ----- */
.navigation-bar {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    height: 5rem;
}

.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 3rem;
    width: 3rem;
}

button {
    position: absolute;
    top: 0.5rem;
    right: 0;
    border: none;
    background-color: transparent;
    color: #eee;
    display: inline-block;
    font-size: 2rem;
    text-shadow: 0px 0px 5px #fff;
    cursor: pointer;
    padding: 1rem;
}

#menu-list {
    height: 0;
    overflow: hidden;
    transition: height .7s ease;
    width: 100vw;
}

#menu-list.toggled {
    height: 100vh;
    opacity: 0.95;
}

.menu ul {
    padding: 0;
    margin-top: 5rem;
    background-color: #1a1a1a;
    text-align: center;
    width: 100%;
}

.menu li {
    display: block;
    padding: 1rem;
}

.menu a {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding: 1rem 3rem;
}


/* ----- BANNER ----- */
.banner {
    position: relative;
    top: 0;
}

.banner h1 {
    position: absolute;
    margin: 0;
    left: 0;
	right: 0;
    text-align: center;
    line-height: 4rem;
	z-index: 1;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #fff;
}

.banner h1:after {
    display: block;
    text-align: center;
    text-shadow: 0px 0px 5px #fff;
}

/* ----- FOOTER ----- */
footer {
    background-color: #252525;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 2rem;
    padding: 1rem;
}


@media (min-width: 68em) {

    .menu a:hover {
        text-decoration: underline overline #e72c21;
        text-decoration-thickness: 5px;
        text-underline-offset: 0.3rem;
        letter-spacing: 5px;
        transition: 0.7s;
    }

    button:hover { 
        text-shadow: 0px 0px 20px #e72c21;
        transition: 0.7s;
    }

    .logo a:hover {
        opacity: 50%;
        transition: 0.7s;
    }
}