.banner h1 {
    font-size: 4rem;
    padding-top: 1rem;
}

.credit {
    padding-top: 7rem;
}

.credit a {
    color: #dddddd;
}

table {
    margin: 0 auto;
    width: 80%;
    max-width: 30rem;
}

th {
    font-size: 1.5rem;
}

table, th, td {
    border-collapse: collapse;
    padding: 0.5rem 1rem;
}

th, td {
    box-shadow: 0 0 10px maroon,
                0 0 3px #e67272,
                inset 0 0 5px maroon;
}

footer {
    bottom: 0;
    width: 100%;
}
