/* .banner h1 {
    top: 20%;
    font-size: 4rem;
}

.cuisine {
    padding: 2rem;

}

.cuisine img {
    display: block;
    margin: 0 auto;
    background-color: grey;
    padding: 1rem;
}

.cuisine p {
    margin: 0 auto 5rem auto;
    padding: 2rem 1rem;
    background-color: maroon;
    width: 17.625rem;
} */


.banner h1 {
    font-size: 4rem;
    padding-top: 1rem;
}

.cuisine {
    padding-top: 7rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 40rem;
    margin: 0 auto;
}

.container-image {
    display: none;
}

article {
    background-color: #252525;
    width: 15rem;
}

.overlay p {
    padding: 1.5rem 2rem 2rem;
}

span {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}


@media (min-width: 68em) {
.cuisine {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 0;
    flex-wrap: nowrap;
    margin: 0;
}

.container {
  position: relative;
  width: 18rem;
  height: 75vh;
}

.overlay {
    background-color: #1a1a1a;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s;
}

.container:hover .overlay {
  opacity: 0.9;
}

.container-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay img {
    display: block;
    margin: 0 auto;
    padding-top: 5rem;
    width: 15rem;
    height: 15rem;
}

.overlay p {
    display: block;
    margin: 0 auto;
    padding: 2rem;
    width: 80%;
    font-size: 1rem;
}

.banner h1 {
    /* writing-mode: vertical-rl; */
    font-size: 7rem;
    letter-spacing: 15px;
    /* width: 6rem; */
    /* margin: 0 auto;
    display: block; */
    /* top: 2rem; */
}

/* .orientation {
    text-orientation: upright;
}  */
}