@media (min-width: 68em) {

    .cuisine {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        gap: 0;
        flex-wrap: nowrap;
        margin: 0;
    }

    .container {
        position: relative;
        width: 20vw;
        height: 70vh;
    }

    .overlay img {
        display: block;
        margin: 0 auto;
        padding-top: 5rem;
        width: 10rem;
    }

    .overlay h2 {
        font-size: 1.5rem;
    }

    .overlay p {
        display: block;
        margin: 0 1rem 0;
    }

}