/* ----- VIDEO BANNER/TITLE */
.banner {
    position: relative;
    top: 0;
    text-align: center;
    text-shadow: 0px 0px 10px #fff;
}

.banner h1 {
    position: absolute;
	top: 30%;
    font-size: 5rem;
    line-height: 4rem;
	z-index: 1;
    text-transform: uppercase;
}

.banner h1:after {
    display: block;
    content: "香港";
    font-size: 3rem;
    padding-top: 1rem;
}

.banner video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.banner a {
	position: absolute;
    color: #fff;
    font-size: 2rem;
	bottom: 1rem;
	left: 0;
	right: 0;
}

/* .arrow svg {
	vertical-align: middle;
} */

/* ----- ABOUT/CONTACT US ----- */
.home-grid {
    margin-top: 2rem;
    padding: 0 2rem;
}

.about {
    text-align: justify;
    text-align-last: center;
    font-size: 0.95rem;
	margin: auto;
	max-width: 80%;
}

fieldset {
	margin: 5rem auto;
	border: none;
	max-width: 30%;
	display: flex;
	flex-direction: column;
}

legend {
	margin: auto;
	font-size: 1.75rem;
	font-weight: 700;
}

label {
	display: block;
	padding-top: 1rem;
	font-weight: 700;
}

/* input[type="submit"] {
	margin: 2rem auto;
	background-color: #222222;
	font-size: 1.25rem;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
  	padding: 0.3rem 2rem 0.5rem 2rem;
  	border: none;
	border-radius: 30px;
} */


@media (min-width: 68em) {

    .home-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 16rem));
        gap: 2rem;
        justify-content: center;
    }

    .about {
    grid-column: 1 / 2;
    border-right: 2px solid maroon;
    text-align: left;
    text-align-last: left;
    }

    .contact {
        grid-column: 2 / 3;
    }

}